{% extends "layout.html" %}

{% block body %}
	<div class="container">
		{% if message %}
			<br>
			<div class="alert alert-danger" role="alert">
				{{ message }}
			</div>
		{%  endif %}
		{% if success %}
			<br>
			<div class="alert alert-success" role="alert">
				{{ success }}
			</div>
		{%  endif %}
		<form action="{{ url_for('home') }}" method="post">
			<br>Username:<br>
			<input type="text" name="username"><br>
			Password:<br>
			<input type="Password" name="password"><br><br>
			<button class="btn, btn-primary">Login</button>
		</form>

		Don't have an account? <a href="{{ url_for('register') }}">Sign up!</a>
	</div>
{% endblock %}