{% extends "layout.html" %}

{% block nav %}
	<ul class="navbar-nav">
        <li class="nav-item">
    		<a class="link nav-link" href="{{ url_for('logout') }}">Logout</a>
    	</li>
    </ul>
{% endblock %}

{% block body %}
	{% if message %}
		<form action="{{ url_for('search') }}" method="post">
			<div class="input-group md-form form-sm form-2 pl-0">
  				<input type="text" name="srch" placeholder="Search..." class="form-control my-0 py-1">
  				<button class="btn btn-primary">Enter</button>
			</div>
		</form>
	</div>

	<h4> {{ message }}</h4>
	{% else %}
		<ul>
		{% for result in results %}
			<li> result </li>
		{% endfor %}
		</ul>
	{% endif %}
{% endblock %}